<footer  fxLayout="row"  fxLayout.sm="column"  fxLayout.lt-sm="column">
  <div fxFlex>
      <p matTooltip="PLanet Systems Ltd" style="color: white;">
          &copy; ITEX (U) LTD, {{currentYear | date}}
      </p>
  </div>
  <div fxFlex>
      <p matTooltip="Ministry Of Health" style="color: white;">
          &copy;  Health Pratform
      </p>
  </div>
  <div fxFlex>
      <p matTooltip="Talk To Us" style="color: white;">
          <mat-icon aria-hidden="false" aria-label="{2:label} icon">phone</mat-icon>
          <span>+256-312 324 000 | +256 312 324 268</span>
      </p>
  </div>

</footer>
